body{
    padding: 0px;
    margin: 0px;
    display:flex;
    flex-direction:column;
    height: 100vh;
    width: 100vw;
    font-family:'Open Sans', sans-serif;
    --flow-font-family:'Open Sans', sans-serif;
    overflow-y: auto;
}

.heading{font-size:1.5rem;text-align:center;}
body .flex{flex:1;}
body.logs{overflow:hidden;}
flow-dialog dialog{width:90%;max-width:350px;}